<form id="programCreateForm" action="{{ path_for('admin.program.store') }}" method="post">
    <div class="ed-container">
        <div class="ed-item s-100 l-100">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input name="nombre" type="text" class="form-control" {{ getP(modulo_programas) == lectura_escritura ? '' : 'readonly' }} required>
            </div>
            <div class="content_visible">
                <input type="hidden" name="instance" value="{{ instance_iupb }}">
                <input type="hidden" name="codigo_institucion" value="{{ codigo_iupb }}">
            </div>
            <div class="content_visible">
                <div class="form-group">
                    <label for="codigo_program">Código</label>
                    <input name="codigo_program" type="text" placeholder="ej: 00" class="form-control" {{ getP(modulo_programas) == lectura_escritura ? '' : 'readonly' }}  minlength="2"  maxlength="2" pattern="[0-9]*" required>
                </div>
                <div class="form-group">
                    <input name="codigo" type="number" readonly class="form-control" min="00000" max="99999">
                </div>
            </div>
            {% if getP(modulo_programas) == lectura_escritura %}
                <button type="submit" class="btn btn-primary">Guardar</button>
            {% endif %}
        </div>
    </div>
</form>