<form id="userCreateForm" action="{{ path_for('admin.users.store') }}" method="post">
    <div class="ed-container">
        <div class="ed-item s-100 l-100">
            <div class="form-group">
                <label for="exampleInputEmail1">Usuario</label>
                <input name="usuario" type="text" class="form-control" {{ getP(modulo_plataforma) == lectura_escritura ? '' : 'readonly' }} >
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Nombres</label>
                <input name="nombres" type="text" class="form-control" {{ getP(modulo_plataforma) == lectura_escritura ? '' : 'readonly' }}>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Apellidos</label>
                <input name="apellidos" type="text" class="form-control" {{ getP(modulo_plataforma) == lectura_escritura ? '' : 'readonly' }}>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Documento</label>
                <input name="documento" type="number" class="form-control" {{ getP(modulo_plataforma) == lectura_escritura ? '' : 'readonly' }}>
            </div>
            <div class="form-group">
                <label for="institucion">Institucion</label>
                {% if getP(modulo_plataforma) == lectura_escritura %}
                    <input name="institucion" type="text" class="form-control">
                {% else %}
                    <input name="institucion" type="text" class="form-control" readonly value="{{ name_iupb }}">
                {% endif %}
                <input name="id_institucion" type="hidden" class="form-control" readonly value="{{ codigo_iupb }}" >

            </div>
            {% if getP(modulo_plataforma) == lectura_escritura  %}
                <button type="submit" class="btn btn-primary">Guardar</button>
            {% endif %}
        </div>
    </div>
</form>